<!DOCTYPE html>
<html>
<head>
  <title>WodrackTrial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

<%= yield %>

<script type="text/javascript">
$(document).ready(function() {
	$('.like-button').on('click', function(e){
		// save our target button
		$target = $(e.target);
		$likes_span = $($target.attr('data-likes-count-id'))
		// ajax to the like url
		$.ajax($target.attr('data-url'))
		.done( function(data){
			// console.log(data);
			// use the returned data to update text
		    $target.text(data.button_text);
		    $likes_span.text(data.likes + " Likes");
		});
	})
});
</script>
</body>
</html>
